{% extends 'base.html' %}
{% block title %}
Plot Table
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'technical/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'technical/css/form.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'technical/js/table.js' %}"></script>
<script src="{% static 'technical/js/form.js' %}"></script>
  <body>
    <div class="plotgrid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Plots <b>Information</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Plot</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Plot Number</th>
                        <th>Plot Status</th>
						<th>Land Type</th>
						<th>Location</th>
                        <th>Area (Acre)</th>
						<th>Coverd Area</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
				{% for i in plot_data %}
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td>{{ i.plot_number }}</td>
                        <td>{{ i.plot_status }}</td>
						<td>{{ i.land_type }}</td>
						<td>{{ i.location }}</td>
                        <td>{{ i.plot_area }}</td>
						<td>{{ i.coverd_area }}</td>
                        <td>
                            <a href="#editEmployeeModal-{{ forloop.counter }}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog modal-lg"> <!-- Enlarged form size -->
			<div class="formcontainer">
				<!-- Header with title and separator line -->
				<div class="header">
					<h2>PLOT REGESTRATIONS FORM</h2>
				</div>
				<hr> <!-- Divider between header and form -->
				
				<!-- Form content -->
				<div class="content">
					<form action="{% url 'add' %}" method="POST" onsubmit="return validateForm()">
						{% csrf_token %}
						<div class="user-details">
							<!-- Plot Number Field -->
							<div class="input-box">
								<label class="details">Plot Number</label>
								<input type="text" placeholder="Enter Plot Number" required name="plotnumber" id="plot_number">
							</div>
							<!-- Location Field -->
							<div class="input-box">
								<label class="details">Plot Location</label>
								<input type="text" placeholder="Enter Plot Location" required name="loc" id="loc">
							</div>
							<!-- Plot Status Dropdown -->
							<div class="input-box">
								<label class="details">Plot Status</label>
								<select name="plotstatus" id="plotstatus" required>
									<option value="" disabled selected>Select Plot Status</option>
									<option value="Available">Available</option>
									<option value="Allotted">Allotted</option>
									<option value="Canceled">Canceled</option>
								</select>
							</div>
							<!-- Land Type Dropdown -->
							<div class="input-box">
								<label class="details">Land Type</label>
								<select name="landtype" id="landtype" required>
									<option value="" disabled selected>Select Land Type</option>
									<option value="Commercial">Commercial</option>
									<option value="Industrial">Industrial</option>
								</select>
							</div>
							<!-- Plot Area Field -->
							<div class="input-box">
								<label class="details">Plot Area</label>
								<input type="text" placeholder="Enter Plot Area in Acres" required name="plotarea" id="plotarea">
							</div>
							<!-- Covered Area Field -->
							<div class="input-box">
								<label class="details">Covered Area</label>
								<input type="text" placeholder="Enter Covered Area in Acres" name="coverdarea" id="coverdarea">
							</div>
						</div>
						<!-- Buttons for Submit and Cancel -->
						<div class="button-container">
							<button type="submit" class="btn-submit">Register</button>
							<button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	 {% for i in plot_data %}
	<div id="editEmployeeModal-{{ forloop.counter }}" class="modal fade">
		<div class="modal-dialog modal-lg"> <!-- Enlarged form size -->
			<div class="formcontainer">
				<!-- Header with title and separator line -->
				<div class="header">
					<h2>UPDATE RECORD </h2>
				</div>
				<hr> <!-- Divider between header and form -->
				
				<!-- Form content -->
				<div class="content">
					<form action="update" method="POST">
						{% csrf_token %}
						<div class="user-details">
							<!-- Plot Number Field -->
							<div class="input-box">
								<label class="details">Plot Number</label>
								<input value="{{ i.plot_number }}" type="text" placeholder="Enter Plot Number" name="plotnumber" id="plot_number">
							</div>
							<!-- Location Field -->
							<div class="input-box">
								<label class="details">Plot Location</label>
								<input value="{{ i.location }}" type="text" placeholder="Enter Plot Location" name="loc" id="loc">
							</div>
							<!-- Plot Status Dropdown -->
							<div class="input-box">
								<label class="details">Plot Status</label>
								<select name="plotstatus" id="plotstatus">
									<option value="" disabled selected>Select Plot Status</option>
									<option value="Available" {% if i.plot_status == "Available" %}selected{% endif %}>Available</option>
									<option value="Allotted" {% if i.plot_status == "Allotted" %}selected{% endif %}>Allotted</option>
									<option value="Canceled" {% if i.plot_status == "Canceled" %}selected{% endif %}>Canceled</option>
								</select>
							</div>
							
							<!-- Land Type Dropdown -->
							<div class="input-box">
								<label class="details">Land Type</label>
								<select name="landtype" id="landtype" >
									<option value="" disabled selected>Select Land Type</option>
									<option value="Commercial" {% if i.land_type == "Commercial" %}selected{% endif %}>Commercial</option>
									<option value="Industrial" {% if i.land_type == "Industrial" %}selected{% endif %}>Industrial</option>
								</select>
							</div>							
							<!-- Plot Area Field -->
							<div class="input-box">
								<label class="details">Plot Area</label>
								<input value="{{ i.plot_area }}" type="text" placeholder="Enter Plot Area in Acres" name="plotarea" id="plotarea">
							</div>
							<!-- Covered Area Field -->
							<div class="input-box">
								<label class="details">Covered Area</label>
								<input value="{{ i.coverd_area }}" type="text" placeholder="Enter Covered Area in Acres" name="coverdarea" id="coverdarea">
							</div>
						</div>
						<!-- Buttons for Submit and Cancel -->
						<div class="button-container">
							<button type="submit" class="btn-submit">Update</button>
							<button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</body>
</html>
{% endblock %}
