{% extends 'base.html' %}

{% block title %}
Plot Regestratioin
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" type="text/css" href="{% static 'technical/css/style.css' %}">
</head>
<body>
  <div class="container1">
      </div>
</body>
</html>
{% endblock %}