/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* Form styling */
.formcontainer {
  max-width: 700px;
  width: 100%;
  background-color: whitesmoke;
  padding: 40px 60px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow size for a more visible pop-up */
  position: relative;
  z-index: 10; /* Ensure it's on top if overlapping with other elements */
}
.formcontainer input::placeholder,
.formcontainer textarea::placeholder {
  font-size: 12px; /* Adjust size as needed */

}
.formcontainer .title {
  padding-bottom: 0%;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  border-radius: 8px;
  color: linear-gradient(135deg, #424242, #0a0a0a);
  margin-bottom: 10px;
}
.formcontainer .title h1 {
  font-size: 1.8rem;
  margin-bottom: 2%;
  margin: 0;
  font-weight: bold;
  
}
.formcontainer .title::before {
  content: "  ";
  position: absolute;
  left: 0;
  margin-top: 10px;
  bottom: 0;
  height: 3px;
  width: 35px;
  border-radius: 5px;
  background: linear-gradient(135deg, #424242, #0a0a0a);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 20px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.user-details .input-box input,
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


.user-details .input-box select:focus,
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box select:valid {
  border-color: #424242;
}

/* Apply border color when an option is selected */
.user-details .input-box select:not(:first-child) {
  border-color: #424242;
}



form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #080808, #424242);
}

form .button input:hover {
  background: linear-gradient(135deg, #424242, #080808);
}

/* Responsive media query code for mobile devices */
@media(max-width: 620px) {
  .formcontainer {
    max-width: 100%;
    padding: 40px 60px;
  }
  .formcontainer .title {
    padding-top: 0%;
    font-size: 15px;
    font-weight: 200;
    position: relative;
    border-radius: 8px;
  }
  .formcontainer .title h1 {
    font-size: 1rem;
    margin: 0;
    
  }
  
  form .user-details .input-box {
    margin-bottom: 6px;
    width: 100%;
    height: 20%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

/* Responsive media query code for mobile devices */
@media(max-width: 500px) {
  .formcontainer .content .category {
    flex-direction: column;
  }
}