{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>Check out my <a href="/">Home</a> page.</p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>30</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>28</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Mike Johnson</td>
                    <td>35</td>
                    <td>UK</td>
                </tr>
            </tbody>
        </table>
    </div>
    
{% endblock %}